<div class="popup popup--stats">
  <div class="popup__body">
    <div class="popup__content">
      <div class="popup__close">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M26.248 14.9961C26.248 8.78516 21.209 3.74609 14.998 3.74609C8.78711 3.74609 3.74805 8.78516 3.74805 14.9961C3.74805 21.207 8.78711 26.2461 14.998 26.2461C21.209 26.2461 26.248 21.207 26.248 14.9961Z"
            stroke="white"
            stroke-width="1.49989"
            stroke-miterlimit="10"
          />
          <path
            d="M18.748 18.7461L11.248 11.2461"
            stroke="white"
            stroke-width="1.49989"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M11.248 18.7461L18.748 11.2461"
            stroke="white"
            stroke-width="1.49989"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="popup__image">
        <img src="" alt="Статистика" class="stats-image" />
      </div>
    </div>
  </div>
</div>
