<header class="header">
  <div class="container header__container">
    <div class="header__logo">
      <div class="header__logo-center">
        <a href="/">
          <img src="./src/images/logo.svg" alt="VYDNO.AGENCY Logo" class="header__logo-image" />
        </a>
      </div>
    </div>
    <nav class="header__nav">
      <nav class="menu__body">
        <ul class="header__menu-items">
          <li class="header__menu-item">
            <a href="#services" class="header__link">Послуги</a>
          </li>
          <li class="header__menu-item">
            <a href="#reviews" class="header__link">Відгуки</a>
          </li>
          <li class="header__menu-item">
            <a href="./portfoilo.html" class="header__link">Портфоліо</a>
          </li>
          <li class="header__menu-item">
            <a href="#stages" class="header__link">Етапи роботи</a>
          </li>
          <li class="header__menu-item">
            <a href="#faq" class="header__link">Faq</a>
          </li>
          <li class="header__menu-item">
            <a href="#blog" class="header__link">Блог</a>
          </li>
        </ul>
      </nav>
    </nav>
    <div class="header__burger-wrapper">
      <button class="header__burger"><span></span></button>
    </div>
  </div>
</header>
