<header class="header">
  <div class="header__logo">
    <div class="header__logo-center">
      <div class="header__title">
        <img src="./src/images/logo.svg" alt="VYDNO.AGENCY Logo" class="header__logo-image" />
      </div>
    </div>
  </div>
  <nav class="header__nav">
    <a href="#services" class="header__link">Послуги</a>
    <a href="#cases" class="header__link">Кейси</a>
    <a href="#about" class="header__link">Про нас</a>
    <a href="#stages" class="header__link">Етапи роботи</a>
    <a href="#faq" class="header__link">Faq</a>
    <a href="#contacts" class="header__link">Контакти</a>
  </nav>
</header>
