<section class="contact">
  <div class="title__wrapper title__wrapper--texture">
    <h2 class="contact__title">Хочете обговорити проект?</h2>
  </div>
  <div class="container contact__container">
    <p class="contact__subtitle"><strong>Залиште свій контакт.</strong> обговоримо деталі і запропонуємо рішення.</p>

    <form class="contact__form">
      <div class="contact__input-group">
        <label class="contact__label">Ваше ім'я*</label>
        <input type="text" class="contact__input" required />
      </div>

      <div class="contact__input-group">
        <label class="contact__label">Ваш нік в телеграм*</label>
        <input type="text" class="contact__input" required />
      </div>

      <div class="contact__input-group">
        <label class="contact__label">Опишіть задачу</label>
        <textarea class="contact__textarea" placeholder="Що потрібно зробити? (не обов'язково)"></textarea>
      </div>

      <div class="contact__checkbox-group">
        <input type="checkbox" id="privacy" class="contact__checkbox" required />
        <label for="privacy" class="contact__checkbox-label">
          Натискаючи кнопку "Відправити заявку", ви погоджуєтесь з
          <a href="#" class="contact__privacy">Політикою конфіденційності</a>
        </label>
      </div>

      <button type="submit" class="contact__submit">Відправити заявку</button>
    </form>
  </div>
</section>
